*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font{
    font-family: 'Bangers', cursive; 
}
#canvas1{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
#title1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    line-height: 110px;
    white-space: nowrap;
    border-top: 5px solid black;
    font-family: 'Bangers', cursive;
}
#title1::before{
    content: 'et bonne route! :) Eva, Lindsay, Stéphanie, Cédric, Delphine, Sarah, Damien, Fabien, Grégoire, Kahina, Yohan, Chloe, Jawad, Olivier, Pascal, Altayeb';
    position: absolute;
    bottom: -70px;
    font-size: 40px;
    width: 100%;
    text-align: center;
}
